<style>
    #cookie-notice {
        padding: 1rem 1rem 0.7rem 1rem;
        display: none;
        text-align: center;
        position: fixed;
        line-height: 1.9rem;
        bottom: 0;
        width: calc(100% - 2rem);
        box-shadow: 0 0px 7px 0px black;
        background: #000000e0;
        color: rgba(255,255,255,0.8);
        z-index: 1;
    }
    #cookie-notice a {
        cursor: pointer;
    }
    #cookie-notice a.btn {
        background-color: #2f2f2f;
        border: 1px solid #9c9c9c;
        padding: 0.3rem 1rem;
        margin-left: 0.4rem;
        color: #fcfcfc;
        transition: background-color 0.5s;
    }

    #cookie-notice a.btn:hover {
        background-color: #fcfcfc;
        color: #1f1f1f;
    }
    @media (max-width: 767px) {
        #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
    }
</style>
<div id="cookie-notice"><span>
        We use analytics cookies, like those offered by Google Analytics, to help us understand things like how long a visitor stays on our website, what pages they find most useful, and how they arrived at our website. To learn more about Google Analytics and your data, visit this 
        <a href="https://support.google.com/analytics/answer/6004245"
           rel="noopener noreferrer"
           target="_blank"
        >Google webpage.</a>&nbsp;
    <a id="cookie-notice-accept" class="btn btn-primary btn-sm">Okay</a>
    </span>
</div>
<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    if(readCookie('cookie-notice-dismissed')=='true') {
        {% include ga.js %}
    } else {
        {% include ga.js %}
        document.getElementById('cookie-notice').style.display = 'block';
    }
    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-dismissed','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

</script>
